<div class="hero__slide">

  {% if section.blocks.size == 0 %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

  {% else %}

    {% for block in section.blocks %}
      {% if block.settings.hero_img == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        {% include 'responsive-image' with
            image: block.settings.hero_img,
            max_width: 1600,
            max_height: 700 %}
        {% if block.settings.hero_heading != blank or block.settings.hero_linklist != blank %}
          <div class="hero__content">
            {% unless block.settings.hero_heading == blank %}
              <h1>{{ block.settings.hero_heading }}</h1>
            {% endunless %}
            <h2>{{ block.settings.hero_linklist }}</h2>
              <ul>
                {% for link in linklists[block.settings.hero_linklist].links %}
                  <li>
                    <a href="{{ link.src }}" title="{{ link.title }}">
                      <button class="primary">{{ link.title }}</button>
                    </a>
                  </li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  {% endif %}

</div>

{% schema %}
  {
    "name": "Hero Slider",
    "class": "hero",
    "blocks": [
     {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "hero_img",
          "type": "image_picker",
          "label": "Hero Image"
        },
        {
          "id": "hero_heading",
          "type": "text",
          "label": "Heading",
          "default": "50% off everything"
        },
        {
          "id": "hero_linklist",
          "type": "link_list",
          "label": "Slide Nav Links",
          "info": "Optional"
        }
      ]
    }
    ],
    "presets": [{
      "name": "Slider",
      "category": "Image"
    }]
  }
{% endschema %}
